# Android development
*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml
/.idea/inspectionProfiles
/.idea/studiobot.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/app/release
/build
/captures
.externalNativeBuild

# Emacs
*.~undo-tree~