<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2018-2022 Felix Wiemuth and contributors (see CONTRIBUTORS.md)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".Main"
        android:appCategory="productivity"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.reminderslist.RemindersListActivity"
            android:exported="true"
            android:label="@string/title_activity_reminders_list"
            android:taskAffinity="felixwiemuth.simplereminder.main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts_main" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:taskAffinity="felixwiemuth.simplereminder.main" />
        <activity
            android:name=".ui.AddReminderDialogActivity"
            android:exported="true"
            android:label="@string/add_reminder_title"
            android:launchMode="singleTask"
            android:taskAffinity="felixwiemuth.simplereminder.addreminder"
            android:theme="@style/AppTheme.DialogActivity"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts_add_reminder" />
        </activity>
        <activity
            android:name=".ui.EditReminderDialogActivity"
            android:label="@string/edit_reminder_title"
            android:launchMode="singleTask"
            android:taskAffinity="felixwiemuth.simplereminder.editreminder"
            android:theme="@style/AppTheme.DialogActivity"
            android:windowSoftInputMode="stateVisible" />

        <service
            android:name=".QuickTileService"
            android:exported="true"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="@string/quick_tile_add_reminder_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BootReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>